:where(button, input, optgroup, select, textarea) {
  font: inherit;
  line-height: inherit;
}

:where(
  input:not([type="button"]):not([type="checkbox"]):not([type="color"]):not(
      [type="file"]
    ):not([type="hidden"]):not([type="image"]):not([type="radio"]):not(
      [type="range"]
    ):not([type="reset"]):not([type="submit"]),
  textarea
) {
  border: 1px solid currentColor;
}

:where(button, [type="button"], [type="reset"], [type="submit"]) {
  padding: 1px 6px;
}

:where(button) {
  overflow: visible;
  text-transform: none;
}

:where(button):not(:disabled),
:where([type="button"]):not(:disabled),
:where([type="reset"]):not(:disabled),
:where([type="submit"]):not(:disabled) {
  cursor: pointer;
}

:where(input) {
  overflow: visible;
}

:where(input, textarea) {
  padding: 1px;
}

:where(fieldset) {
  border: 1px solid currentColor;
  margin-block: 0;
  margin-inline: 2px;
}

:where(legend) {
  color: inherit;
  display: table;
  max-inline-size: 100%;
  white-space: normal;
}

:where(progress) {
  display: inline-block;
  vertical-align: baseline;
}

:where(select) {
  text-transform: none;
}

:where(textarea) {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

:where([type="color"]) {
  background: inherit;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}
