@import "./reset-base.css";
@import "./headings.css";

:where(:root) {
  line-height: 1.5;
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:where(html) {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

:where(main) {
  display: block;
}

:where(p + p) {
  margin-block-start: 1rem;
}

:where(:target) {
  scroll-margin-block: 5ex;
}
