:where(h1) {
  font-size: 2em;
  margin-block: 0.67em;
  margin-inline: 0;
}

:where(h2) {
  font-size: 1.5em;
  margin-block: 0.83em;
  margin-inline: 0;
}

:where(h3) {
  font-size: 1.17em;
  margin-block: 1em;
  margin-inline: 0;
}

:where(h4) {
  margin-block: 1.33em;
  margin-inline: 0;
}

:where(h5) {
  font-size: 0.83em;
  margin-block: 1.67em;
  margin-inline: 0;
}

:where(h6) {
  font-size: 0.67em;
  margin-block: 2.33em;
  margin-inline: 0;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
}
