@import "./lists.css";
@import "./media-block.css";

:where(hr) {
  box-sizing: content-box;
  block-size: 0;
  color: inherit;
  overflow: visible;
}

:where(dl, ol, ul) {
  margin-block: 1em;
  margin-inline: 0;
}

:where(ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl) {
  margin: 0;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(audio) {
  display: inline-block;
}

:where(audio):not([controls]) {
  display: none;
  block-size: 0;
}

:where(img) {
  border: 0;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(svg):not(:root) {
  overflow: hidden;
}

:where(table) {
  text-indent: 0;
  border-color: inherit;
}

:where(details) {
  display: block;
}

:where(dialog) {
  background-color: Canvas;
  border: solid;
  color: CanvasText;
  display: block;
  block-size: fit-content;
  inline-size: fit-content;
  inset-inline: 0;
  margin: auto;
  padding: 1em;
}

:where(summary) {
  display: list-item;
}

:where(template) {
  display: none;
}
